/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1140px;
}

/*********************
HEADER STYLES
*********************/

.header {
	height: 145px;
	overflow: hidden;
	#inner-header {
		width: $tabWidth;
		padding: 0 $tabPadding;
		height: 145px;
	}
}
#hero {
	#inner-hero {
		width: $tabWidth;
		padding: 10px $tabPadding 55px;
		background: $bbBlack;
	}
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border: 0;

	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				background-color: #dedede;

			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			display: none;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			display: block;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

.wp-prev-next {
	margin-bottom: $tabVHeight;
}

/*********************
LIVE MATCHES STYLES
*********************/

#widgetOutput {
	font-size: 16px;
	h3 {
		padding: 12px 0;
		font-size: 16px;
		span {
			padding-left: 8px;
		}
	}
	.opta-widget-container {
		width: 620px;
	}
	.match {
		height: 60px;
		span {
			height: 58px;
			padding: 20px 0;
		}
		.match-time {
			width: 50px;
			span {
				padding: 5px 0;
			}
		}
		.home-side,	.away-side {
			width: 155px;
		}
		.match-score {
			font-size: 36px;
			width: 75px;
			span {
				padding: 5px 0;
			}
		}
	}
}

/*********************
MAIN STYLES
*********************/

h1, .h1 {
	font-size: 48px;
}
h2, .h2 {
	font-size: 28px;
}

#content {
	#inner-content {
		width: $tabWidth;
		padding: 0 $tabPadding;
	}
}

#main {
	width: 620px;
	margin-top: 20px;
}
/* Stream articles */
.hentry {
	margin-bottom: 40px;
}
.image-article, .set-article {
	.featured-image {
		width: 220px;
		height: 144px;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	.h2, .article-excerpt {
		float: right;
		width: 380px;
	}
}
.set-article .featured-image .set-count {
		width: 60px;
		height: 60px;
		background: url(../images/mediaSet.png) no-repeat left 50%;
		padding: 20px 18px 18px 20px;
		font-size: 16px;
}
.video-article {
	.featured-image {
		float: left;
		width: 420px;
		height: 235px;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	.h2, .article-excerpt {
		float: right;
		width: 180px;
	}
}

.article-footer .tags {
	float: left;
	display: block;
	width: 450px;
	padding-left: 19px;
	text-transform: uppercase;
	a {
		float: left;
		display: block;
		margin-right: 1rem;
		text-decoration: none;
	}
}

.page-navigation,
.wp-prev-next {
	.article-word {
		display: inline;
	}
}

/* Single articles */
.single #main {
	margin-top: 20px;
}
.single-post .hentry {
	h1 {
		margin: 20px 0;
	}
	.byline {
		margin-bottom: 20px;
	}
	.entry-content {
		padding-left: 80px;
	}
	.quote {
		background: url(../images/quote.png) no-repeat 25px top;
		padding-left: 70px;
		font-size: 28px;
	}
	.article-footer  p.tags {
		width: 520px;
	}
}
.single-image-article .single-featured-image {
	width: 620px;
	height: 413px;
}
.single-video-article .single-featured-image {
	width: 620px;
	height: 349px;
}
.single-post_set .hentry {
	.article-header {
		margin-bottom: 20px;
		background-position: right top;
		h1 {
			font-size: 28px;
		}
		.byline {
			margin-top: 5px;
		}
	}
	.two {
		margin-right: 20px;
	}
	.four {
		margin-right: 0;
	}
}


/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}

/*********************
FOOTER STYLES
*********************/
.footer {
	#inner-footer {
		width: $tabWidth;
		padding: 0 $tabPadding;
	}
}
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

