/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet
******************************************************************/
.header {
	height: 247px;
	padding-top: 127px;
	background: url(../images/pattern_geometric-green.png) repeat;
	#inner-header {
		position: relative;
		left: 50%;
		margin-left: -($deskWidth/2);
		height: 120px;
		width: $deskWidth;
		padding: 0 $deskPadding;
		background: url(../images/deskBG.png) repeat-y 50% 0;
	}
}
#hero {
	background: url(../images/pattern_geometric-dark.png) repeat;
	#inner-hero {
		position: relative;
		left: 50%;
		margin-left: -($deskWidth/2);
		width: $deskWidth;
		padding: 10px 0;
	}
}
#live-league-menu {
	display: block;
	float: left;
	width: 350px;
	padding: 0;
	li {
		height: 60px;
		padding: 20px 30px 20px 60px;
		font-size: 16px;
		span {
			padding-left: 8px;
			color: $bodyText;
		}
	}
	.active {
		border-left: 5px solid $bbGreen;
		background: #2e2e2e url(../images/liveMenu.png) no-repeat right 50%;
	}
}
.live-league {
	float: right;
	width: 690px;
}
#widgetOutput {
	h3 {
		display: none;
	}
	.opta-widget-container {
		width: 690px;
	}
}

#content {
	background: url(../images/pattern_geometric-light.png) repeat;
	#inner-content {
		position: relative;
		left: 50%;
		margin-left: -($deskWidth/2);
		width: $deskWidth;
		padding: 0 $deskPadding;
	}
}
#main, .sidebar {
	position: relative;
	float: left;
}
.sidebar {
	width: 300px;
	margin-left: 20px;
}
.footer {
	#inner-footer {
		position: relative;
		left: 50%;
		margin-left: -($deskWidth/2);
		width: $deskWidth;
		padding: 0 $deskPadding;
	}
}
