/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/

/*********************
CLEARFIXIN'
*********************/

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}

/*********************
TOOLS
*********************/

// BORDER-BOX ALL THE THINGS! (http://paulirish.com/2012/box-sizing-border-box-ftw/)
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
.image-replacement {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@mixin ir {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;   
}

@mixin sprite($left, $top, $width: auto, $height: auto) {
    background:transparent url('../images/sprites.png') -#{$left}px -#{$top}px no-repeat;

    @if $width != 'auto' {
        width:#{$width}px;
    }

    @if $height != 'auto' {
        height:#{$height}px;
    }
}

// :before & :after pseudo element basics
@mixin before-after {
    content: '';
    display: block;
    position: absolute;
}


/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$black:             #000;
$grey:				#999;
$white:             #fff;

$headerBG:			#aadd03;
$bbGreen:			#52bf00;
$brightGreen:		#7bff19;
$bbGrey:			#2e2e2e;
$bbBlack:			#1c1c1c;
$headline:			#1f1f1f;
$bodyText:			#444;
$lightGrey:			#ededed;
$anotherGrey:		#aaa;
$moreGrey:			#666;
$darkestGrey:		#333;

$link-color:        $bbGreen;
$link-hover:        darken($link-color, 9%);


$mobWidth:			320px;
$mobPadding:		10px;
$mobVHeight:		20px;
$tabBreak:			700px;
$tabWidth:			768px;
$tabPadding:		74px;
$tabVHeight:		36px;
$deskBreak:			940px;
$deskWidth:			1080px;
$deskPadding:		68px;

/*********************
TYPOGRAPHY
*********************/

@mixin font-face($folder, $face) {
    @font-face {
        font: {
            weight:normal;
            style:normal;
            family:$face;
        }
        src: url('../fonts/#{$face}.otf') format('opentype');
    }

    @font-face {
        font: {
            weight:normal;
            style:normal;
            family:$face;
        }
        src: url('../type/#{$folder}/#{$face}.eot');
        src: url('../type/#{$folder}/#{$face}.eot?#iefix') format('embedded-opentype'),
             url('../type/#{$folder}/#{$face}.woff') format('woff'),
             url('../type/#{$folder}/#{$face}.ttf') format('truetype'),
             url('../type/#{$folder}/#{$face}.svg#sourcesanspro-semibold') format('svg');
    }
}

@include font-face(sourceSansPro, sourcesanspro-regular);
@include font-face(sourceSansPro, sourcesanspro-semibold);
@include font-face(sourceSansPro, sourcesanspro-semibolditalic);
@include font-face(sourceSansPro, sourcesanspro-italic);
@include font-face(alternateGothicNo3, alternategothic-regular);


$sans-serif: "sourcesanspro-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sans-serif-semibold: "sourcesanspro-semibold", $sans-serif;
$sans-serif-semibolditalic: "sourcesanspro-semibolditalic", $sans-serif;
$sans-serif-italic: "sourcesanspro-italic", $sans-serif;
$header: "alternategothic-regular", $sans-serif;


/*********************
BOX SIZING
*********************/

/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	-ms-box-sizing:     $type;
	box-sizing:         $type;
}


