/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
/* line 23, ../scss/_mixins.scss */
.clearfix {
  zoom: 1;
}
/* line 25, ../scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 26, ../scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/*********************
TOOLS
*********************/
/* line 34, ../scss/_mixins.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 41, ../scss/_mixins.scss */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*********************
TYPOGRAPHY
*********************/
<<<<<<< HEAD
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
=======
>>>>>>> f132313597cbaca834aabab79ad0eeb45e982dbc
@font-face {
  font-family: 'Source Sans';
  src: url("../type/sourceSansPro/sourcesanspro-regular-webfont.eot");
  src: url("../type/sourceSansPro/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../type/sourceSansPro/sourcesanspro-regular-webfont.woff") format("woff"), url("../type/sourceSansPro/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../type/sourceSansPro/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans';
  src: url("../type/sourceSansPro/sourcesanspro-semibold-webfont.eot");
  src: url("../type/sourceSansPro/sourcesanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../type/sourceSansPro/sourcesanspro-semibold-webfont.woff") format("woff"), url("../type/sourceSansPro/sourcesanspro-semibold-webfont.ttf") format("truetype"), url("../type/sourceSansPro/sourcesanspro-semibold-webfont.svg#sourcesanspro-semibold-webfont") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans';
  src: url("../type/sourceSansPro/sourcesanspro-semibolditalic-webfont.eot");
  src: url("../type/sourceSansPro/sourcesanspro-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../type/sourceSansPro/sourcesanspro-semibolditalic-webfont.woff") format("woff"), url("../type/sourceSansPro/sourcesanspro-semibolditalic-webfont.ttf") format("truetype"), url("../type/sourceSansPro/sourcesanspro-semibolditalic-webfont.svg#sourcesanspro-semibolditalic-webfont") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans';
  src: url("../type/sourceSansPro/sourcesanspro-italic-webfont.eot");
  src: url("../type/sourceSansPro/sourcesanspro-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../type/sourceSansPro/sourcesanspro-italic-webfont.woff") format("woff"), url("../type/sourceSansPro/sourcesanspro-italic-webfont.ttf") format("truetype"), url("../type/sourceSansPro/sourcesanspro-italic-webfont.svg#source_sans_pro_italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Alternate Gothic';
  src: url("../type/alternateGothicNo3/web-Alternate-Gothic-No3-Regular.eot");
  src: url("../type/alternateGothicNo3/web-Alternate-Gothic-No3-Regular.eot?#iefix") format("embedded-opentype"), url("../type/alternateGothicNo3/web-Alternate-Gothic-No3-Regular.woff") format("woff"), url("../type/alternateGothicNo3/web-Alternate-Gothic-No3-Regular.ttf") format("truetype"), url("../type/alternateGothicNo3/web-Alternate-Gothic-No3-Regular.svg#web-Alternate-Gothic-No3-Regular") format("svg");
  font-weight: bold;
  font-style: normal;
}

<<<<<<< HEAD
/* line 167, ../scss/_mixins.scss */
=======
/* line 143, ../scss/_mixins.scss */
>>>>>>> f132313597cbaca834aabab79ad0eeb45e982dbc
.text-left {
  text-align: left;
}

<<<<<<< HEAD
/* line 168, ../scss/_mixins.scss */
=======
/* line 144, ../scss/_mixins.scss */
>>>>>>> f132313597cbaca834aabab79ad0eeb45e982dbc
.text-center {
  text-align: center;
}

<<<<<<< HEAD
/* line 169, ../scss/_mixins.scss */
=======
/* line 145, ../scss/_mixins.scss */
>>>>>>> f132313597cbaca834aabab79ad0eeb45e982dbc
.text-right {
  text-align: right;
}

<<<<<<< HEAD
/* line 173, ../scss/_mixins.scss */
=======
/* line 149, ../scss/_mixins.scss */
>>>>>>> f132313597cbaca834aabab79ad0eeb45e982dbc
.alert-help, .alert-info, .alert-error, .alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}

<<<<<<< HEAD
/* line 179, ../scss/_mixins.scss */
=======
/* line 155, ../scss/_mixins.scss */
>>>>>>> f132313597cbaca834aabab79ad0eeb45e982dbc
.alert-help {
  border-color: #e8dc59;
  background: #ebe16f;
}

<<<<<<< HEAD
/* line 185, ../scss/_mixins.scss */
=======
/* line 161, ../scss/_mixins.scss */
>>>>>>> f132313597cbaca834aabab79ad0eeb45e982dbc
.alert-info {
  border-color: #bfe4f4;
  background: #d5edf8;
}

<<<<<<< HEAD
/* line 191, ../scss/_mixins.scss */
=======
/* line 167, ../scss/_mixins.scss */
>>>>>>> f132313597cbaca834aabab79ad0eeb45e982dbc
.alert-error {
  border-color: #f8cdce;
  background: #fbe3e4;
}

<<<<<<< HEAD
/* line 197, ../scss/_mixins.scss */
=======
/* line 173, ../scss/_mixins.scss */
>>>>>>> f132313597cbaca834aabab79ad0eeb45e982dbc
.alert-success {
  border-color: #deeaae;
  background: #e6efc2;
}

/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
BUTTONS
*********************/
<<<<<<< HEAD
/* line 259, ../scss/_mixins.scss */
=======
/* line 235, ../scss/_mixins.scss */
>>>>>>> f132313597cbaca834aabab79ad0eeb45e982dbc
.button, .button:visited {
  font-family: "Source Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #7da302;
  border-top-color: #95c103;
  border-left-color: #95c103;
  padding: 4px 12px;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  border-radius: 4px;
  background-color: #9dcb03;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b0e403), to(#9dcb03));
  background-image: -webkit-linear-gradient(top, #b0e403, #9dcb03);
  background-image: -moz-linear-gradient(top, #b0e403, #9dcb03);
  background-image: -o-linear-gradient(top, #b0e403, #9dcb03);
  background-image: linear-gradient(to bottom, #b0e403, #9dcb03);
}
<<<<<<< HEAD
/* line 278, ../scss/_mixins.scss */
=======
/* line 254, ../scss/_mixins.scss */
>>>>>>> f132313597cbaca834aabab79ad0eeb45e982dbc
.button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
  color: white;
  border: 1px solid #7da302;
  border-top-color: #627f02;
  border-left-color: #627f02;
  background-color: #89b202;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9dcb03), to(#89b202));
  background-image: -webkit-linear-gradient(top, #9dcb03, #89b202);
  background-image: -moz-linear-gradient(top, #9dcb03, #89b202);
  background-image: -o-linear-gradient(top, #9dcb03, #89b202);
  background-image: linear-gradient(to bottom, #9dcb03, #89b202);
}
<<<<<<< HEAD
/* line 286, ../scss/_mixins.scss */
=======
/* line 262, ../scss/_mixins.scss */
>>>>>>> f132313597cbaca834aabab79ad0eeb45e982dbc
.button:active, .button:visited:active {
  background-color: #b0e403;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9dcb03), to(#b0e403));
  background-image: -webkit-linear-gradient(top, #9dcb03, #b0e403);
  background-image: -moz-linear-gradient(top, #9dcb03, #b0e403);
  background-image: -o-linear-gradient(top, #9dcb03, #b0e403);
  background-image: linear-gradient(to bottom, #9dcb03, #b0e403);
}

<<<<<<< HEAD
/* line 291, ../scss/_mixins.scss */
=======
/* line 267, ../scss/_mixins.scss */
>>>>>>> f132313597cbaca834aabab79ad0eeb45e982dbc
.blue-button, .blue-button:visited {
  border-color: #1472ad;
  text-shadow: 0 1px 1px #1472ad;
  background-color: #1681c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1990db), to(#1681c4));
  background-image: -webkit-linear-gradient(top, #1990db, #1681c4);
  background-image: -moz-linear-gradient(top, #1990db, #1681c4);
  background-image: -o-linear-gradient(top, #1990db, #1681c4);
  background-image: linear-gradient(to bottom, #1990db, #1681c4);
  box-shadow: inset 0 0 3px #59b3ec;
}
<<<<<<< HEAD
/* line 297, ../scss/_mixins.scss */
=======
/* line 273, ../scss/_mixins.scss */
>>>>>>> f132313597cbaca834aabab79ad0eeb45e982dbc
.blue-button:hover, .blue-button:focus, .blue-button:visited:hover, .blue-button:visited:focus {
  border-color: #116396;
  background-color: #1472ad;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1784c9), to(#1472ad));
  background-image: -webkit-linear-gradient(top, #1784c9, #1472ad);
  background-image: -moz-linear-gradient(top, #1784c9, #1472ad);
  background-image: -o-linear-gradient(top, #1784c9, #1472ad);
  background-image: linear-gradient(to bottom, #1784c9, #1472ad);
}
<<<<<<< HEAD
/* line 301, ../scss/_mixins.scss */
=======
/* line 277, ../scss/_mixins.scss */
>>>>>>> f132313597cbaca834aabab79ad0eeb45e982dbc
.blue-button:active, .blue-button:visited:active {
  background-color: #1990db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1681c4), to(#1990db));
  background-image: -webkit-linear-gradient(top, #1681c4, #1990db);
  background-image: -moz-linear-gradient(top, #1681c4, #1990db);
  background-image: -o-linear-gradient(top, #1681c4, #1990db);
  background-image: linear-gradient(to bottom, #1681c4, #1990db);
}

/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
/* line 26, ../scss/_700up.scss */
.wrap {
  max-width: 1140px;
}

/*********************
HEADER STYLES
*********************/
/* line 34, ../scss/_700up.scss */
.header {
  height: 90px;
  overflow: hidden;
}
/* line 37, ../scss/_700up.scss */
.header #inner-header {
  width: 700px;
  padding: 0 40px;
}

/* line 43, ../scss/_700up.scss */
.hero .hero {
  background: #bbGrey;
  height: 494px;
  width: 700px;
  padding: 0 40px;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 55, ../scss/_700up.scss */
.nav {
  border: 0;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 58, ../scss/_700up.scss */
.nav li {
  float: left;
  position: relative;
  /*
  plan your menus and drop-downs wisely.
  */
  /* showing sub-menus */
}
/* line 62, ../scss/_700up.scss */
.nav li a {
  border-bottom: 0;
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}
/* line 69, ../scss/_700up.scss */
.nav li a:hover, .nav li a:focus {
  background-color: #dedede;
}
/* line 82, ../scss/_700up.scss */
.nav li ul.sub-menu,
.nav li ul.children {
  margin-top: 0;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  display: none;
  z-index: 8999;
  /* highlight sub-menu current page */
}
/* line 90, ../scss/_700up.scss */
.nav li ul.sub-menu li,
.nav li ul.children li {
  /*
  if you need to go deeper, go nuts
  just remember deeper menus suck
  for usability. k, bai.
  */
}
/* line 92, ../scss/_700up.scss */
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc;
}
/* line 109, ../scss/_700up.scss */
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
  border-bottom: 0;
}
/* line 131, ../scss/_700up.scss */
.nav li:hover ul {
  top: auto;
  display: block;
}

/* end .nav */
/* line 147, ../scss/_700up.scss */
.wp-prev-next {
  margin-bottom: 40px;
}

/*********************
MAIN STYLES
*********************/
/* line 156, ../scss/_700up.scss */
h1, .h1 {
  font-size: 28px;
}

/* line 159, ../scss/_700up.scss */
h2, .h2 {
  font-size: 28px;
}

/* line 164, ../scss/_700up.scss */
#content #inner-content {
  width: 700px;
  padding: 0 40px;
}

/* line 170, ../scss/_700up.scss */
#main {
  width: 620px;
}

/* line 173, ../scss/_700up.scss */
.hentry {
  margin-bottom: 40px;
}

/* line 177, ../scss/_700up.scss */
.image-article .h2, .image-article .article-excerpt {
  width: 380px;
}
/* line 180, ../scss/_700up.scss */
.image-article .featured-image {
  width: 220px;
}

/* line 185, ../scss/_700up.scss */
.video-article .h2, .video-article .article-excerpt {
  float: right;
  width: 180px;
  margin-left: 20px;
}
/* line 190, ../scss/_700up.scss */
.video-article .featured-image {
  float: left;
  width: 420px;
  height: 235px;
}

/* line 197, ../scss/_700up.scss */
.byline {
  border-right: 2px solid #ededed;
  margin-right: 18px;
}

/* line 201, ../scss/_700up.scss */
.tags {
  display: block;
  width: 420px;
  float: left;
  text-transform: uppercase;
}
/* line 206, ../scss/_700up.scss */
.tags a {
  text-decoration: none;
  margin-right: 1rem;
  display: block;
  float: left;
}

/*********************
MAIN STYLES
*********************/
/* line 151, ../scss/_700up.scss */
h1, .h1 {
  font-size: 28px;
}

/* line 154, ../scss/_700up.scss */
h2, .h2 {
  font-size: 28px;
}

/* line 159, ../scss/_700up.scss */
#content #inner-content {
  width: 700px;
  padding: 0 40px;
}

/* line 165, ../scss/_700up.scss */
#main {
  width: 620px;
}

/* line 168, ../scss/_700up.scss */
.hentry {
  margin-bottom: 40px;
}

/* line 172, ../scss/_700up.scss */
.image-article .h2, .image-article .article-excerpt {
  width: 380px;
}
/* line 175, ../scss/_700up.scss */
.image-article .featured-image {
  width: 220px;
}

/* line 180, ../scss/_700up.scss */
.video-article .h2, .video-article .article-excerpt {
  float: right;
  width: 180px;
  margin-left: 20px;
}
/* line 185, ../scss/_700up.scss */
.video-article .featured-image {
  float: left;
  width: 420px;
  height: 235px;
}

/* line 192, ../scss/_700up.scss */
.byline {
  border-right: 2px solid #ededed;
  margin-right: 18px;
}

/* line 196, ../scss/_700up.scss */
.tags {
  display: block;
  width: 420px;
  float: left;
  text-transform: uppercase;
}
/* line 201, ../scss/_700up.scss */
.tags a {
  text-decoration: none;
  margin-right: 1rem;
  display: block;
  float: left;
}

/*********************
SIDEBARS & ASIDES
*********************/
<<<<<<< HEAD
/* line 215, ../scss/_700up.scss */
=======
/* line 220, ../scss/_700up.scss */
>>>>>>> f132313597cbaca834aabab79ad0eeb45e982dbc
.sidebar {
  margin-top: 2.2em;
}

<<<<<<< HEAD
/* line 219, ../scss/_700up.scss */
=======
/* line 224, ../scss/_700up.scss */
>>>>>>> f132313597cbaca834aabab79ad0eeb45e982dbc
.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em;
}

<<<<<<< HEAD
/* line 224, ../scss/_700up.scss */
=======
/* line 229, ../scss/_700up.scss */
>>>>>>> f132313597cbaca834aabab79ad0eeb45e982dbc
.widget {
  padding: 0 10px;
  margin: 2.2em 0;
}
<<<<<<< HEAD
/* line 229, ../scss/_700up.scss */
=======
/* line 234, ../scss/_700up.scss */
>>>>>>> f132313597cbaca834aabab79ad0eeb45e982dbc
.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */
}
<<<<<<< HEAD
/* line 237, ../scss/_700up.scss */
=======
/* line 242, ../scss/_700up.scss */
>>>>>>> f132313597cbaca834aabab79ad0eeb45e982dbc
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}

<<<<<<< HEAD
/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/* line 338, ../scss/_700up.scss */
=======
/*********************
FOOTER STYLES
*********************/
/* line 254, ../scss/_700up.scss */
>>>>>>> f132313597cbaca834aabab79ad0eeb45e982dbc
.footer #inner-footer {
  width: 700px;
  padding: 0 40px;
}

<<<<<<< HEAD
/* line 345, ../scss/_700up.scss */
=======
/* line 261, ../scss/_700up.scss */
>>>>>>> f132313597cbaca834aabab79ad0eeb45e982dbc
.footer-links ul li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */
}

/* end .footer-links */
/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
/* line 11, ../scss/_940up.scss */
.header {
  height: 247px;
  padding-top: 127px;
  background: url(../images/pattern_geometric-green.png) repeat;
}
/* line 15, ../scss/_940up.scss */
.header #inner-header {
  position: relative;
  left: 50%;
  margin-left: -540px;
  height: 120px;
  width: 1080px;
  padding: 0 70px;
}

/* line 24, ../scss/_940up.scss */
.hero {
  background: url(../images/pattern_geometric-dark.png) repeat;
}
/* line 26, ../scss/_940up.scss */
.hero .hero {
  position: relative;
  left: 50%;
  margin-left: -540px;
  width: 1080px;
  padding: 0 70px;
}

/* line 34, ../scss/_940up.scss */
#content {
  background: url(../images/pattern_geometric-light.png) repeat;
}
/* line 36, ../scss/_940up.scss */
#content #inner-content {
  position: relative;
  left: 50%;
  margin-left: -540px;
  width: 1080px;
  padding: 0 70px;
}

/* line 44, ../scss/_940up.scss */
#main, .sidebar {
  position: relative;
  float: left;
}

/* line 48, ../scss/_940up.scss */
.sidebar {
  width: 300px;
  margin-left: 20px;
}

/* line 53, ../scss/_940up.scss */
.footer #inner-footer {
  position: relative;
  left: 50%;
  margin-left: -540px;
  width: 1080px;
  padding: 0 70px;
}

/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
