/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
/* line 23, ../scss/_mixins.scss */
.clearfix {
  zoom: 1;
}
/* line 25, ../scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 26, ../scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/*********************
TOOLS
*********************/
/* line 34, ../scss/_mixins.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 41, ../scss/_mixins.scss */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*********************
TYPOGRAPHY
*********************/
@font-face {
  font-family: 'Source Sans';
  src: url("../type/sourceSansPro/sourcesanspro-regular-webfont.eot");
  src: url("../type/sourceSansPro/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../type/sourceSansPro/sourcesanspro-regular-webfont.woff") format("woff"), url("../type/sourceSansPro/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../type/sourceSansPro/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans';
  src: url("../type/sourceSansPro/sourcesanspro-semibold-webfont.eot");
  src: url("../type/sourceSansPro/sourcesanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../type/sourceSansPro/sourcesanspro-semibold-webfont.woff") format("woff"), url("../type/sourceSansPro/sourcesanspro-semibold-webfont.ttf") format("truetype"), url("../type/sourceSansPro/sourcesanspro-semibold-webfont.svg#sourcesanspro-semibold-webfont") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans';
  src: url("../type/sourceSansPro/sourcesanspro-semibolditalic-webfont.eot");
  src: url("../type/sourceSansPro/sourcesanspro-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../type/sourceSansPro/sourcesanspro-semibolditalic-webfont.woff") format("woff"), url("../type/sourceSansPro/sourcesanspro-semibolditalic-webfont.ttf") format("truetype"), url("../type/sourceSansPro/sourcesanspro-semibolditalic-webfont.svg#sourcesanspro-semibolditalic-webfont") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans';
  src: url("../type/sourceSansPro/sourcesanspro-italic-webfont.eot");
  src: url("../type/sourceSansPro/sourcesanspro-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../type/sourceSansPro/sourcesanspro-italic-webfont.woff") format("woff"), url("../type/sourceSansPro/sourcesanspro-italic-webfont.ttf") format("truetype"), url("../type/sourceSansPro/sourcesanspro-italic-webfont.svg#source_sans_pro_italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Alternate Gothic';
  src: url("../type/alternateGothicNo3/web-Alternate-Gothic-No3-Regular.eot");
  src: url("../type/alternateGothicNo3/web-Alternate-Gothic-No3-Regular.eot?#iefix") format("embedded-opentype"), url("../type/alternateGothicNo3/web-Alternate-Gothic-No3-Regular.woff") format("woff"), url("../type/alternateGothicNo3/web-Alternate-Gothic-No3-Regular.ttf") format("truetype"), url("../type/alternateGothicNo3/web-Alternate-Gothic-No3-Regular.svg#web-Alternate-Gothic-No3-Regular") format("svg");
  font-weight: bold;
  font-style: normal;
}

/* line 148, ../scss/_mixins.scss */
.text-left {
  text-align: left;
}

/* line 149, ../scss/_mixins.scss */
.text-center {
  text-align: center;
}

/* line 150, ../scss/_mixins.scss */
.text-right {
  text-align: right;
}

/* line 154, ../scss/_mixins.scss */
.alert-help, .alert-info, .alert-error, .alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}

/* line 160, ../scss/_mixins.scss */
.alert-help {
  border-color: #e8dc59;
  background: #ebe16f;
}

/* line 166, ../scss/_mixins.scss */
.alert-info {
  border-color: #bfe4f4;
  background: #d5edf8;
}

/* line 172, ../scss/_mixins.scss */
.alert-error {
  border-color: #f8cdce;
  background: #fbe3e4;
}

/* line 178, ../scss/_mixins.scss */
.alert-success {
  border-color: #deeaae;
  background: #e6efc2;
}

/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
BUTTONS
*********************/
/* line 240, ../scss/_mixins.scss */
.button, .button:visited {
  font-family: "Source Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #367d00;
  border-top-color: #439b00;
  border-left-color: #439b00;
  padding: 4px 12px;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  border-radius: 4px;
  background-color: #47a600;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#52bf00), to(#47a600));
  background-image: -webkit-linear-gradient(top, #52bf00, #47a600);
  background-image: -moz-linear-gradient(top, #52bf00, #47a600);
  background-image: -o-linear-gradient(top, #52bf00, #47a600);
  background-image: linear-gradient(to bottom, #52bf00, #47a600);
}
/* line 259, ../scss/_mixins.scss */
.button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
  color: white;
  border: 1px solid #367d00;
  border-top-color: #265900;
  border-left-color: #265900;
  background-color: #3c8c00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#47a600), to(#3c8c00));
  background-image: -webkit-linear-gradient(top, #47a600, #3c8c00);
  background-image: -moz-linear-gradient(top, #47a600, #3c8c00);
  background-image: -o-linear-gradient(top, #47a600, #3c8c00);
  background-image: linear-gradient(to bottom, #47a600, #3c8c00);
}
/* line 267, ../scss/_mixins.scss */
.button:active, .button:visited:active {
  background-color: #52bf00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#47a600), to(#52bf00));
  background-image: -webkit-linear-gradient(top, #47a600, #52bf00);
  background-image: -moz-linear-gradient(top, #47a600, #52bf00);
  background-image: -o-linear-gradient(top, #47a600, #52bf00);
  background-image: linear-gradient(to bottom, #47a600, #52bf00);
}

/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
/* line 26, ../scss/_700up.scss */
.wrap {
  max-width: 1140px;
}

/*********************
HEADER STYLES
*********************/
/* line 34, ../scss/_700up.scss */
.header {
  height: 145px;
  overflow: hidden;
}
/* line 37, ../scss/_700up.scss */
.header #inner-header {
  width: 700px;
  padding: 0 40px;
  height: 145px;
}

/* line 44, ../scss/_700up.scss */
#hero #inner-hero {
  width: 700px;
  padding: 10px 40px 55px;
  background: #1c1c1c;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 55, ../scss/_700up.scss */
.nav {
  border: 0;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 58, ../scss/_700up.scss */
.nav li {
  float: left;
  position: relative;
  /*
  plan your menus and drop-downs wisely.
  */
  /* showing sub-menus */
}
/* line 62, ../scss/_700up.scss */
.nav li a {
  border-bottom: 0;
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}
/* line 69, ../scss/_700up.scss */
.nav li a:hover, .nav li a:focus {
  background-color: #dedede;
}
/* line 82, ../scss/_700up.scss */
.nav li ul.sub-menu,
.nav li ul.children {
  margin-top: 0;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  display: none;
  z-index: 8999;
  /* highlight sub-menu current page */
}
/* line 90, ../scss/_700up.scss */
.nav li ul.sub-menu li,
.nav li ul.children li {
  /*
  if you need to go deeper, go nuts
  just remember deeper menus suck
  for usability. k, bai.
  */
}
/* line 92, ../scss/_700up.scss */
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc;
}
/* line 109, ../scss/_700up.scss */
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
  border-bottom: 0;
}
/* line 131, ../scss/_700up.scss */
.nav li:hover ul {
  top: auto;
  display: block;
}

/* end .nav */
/* line 147, ../scss/_700up.scss */
.wp-prev-next {
  margin-bottom: 36px;
}

/*********************
LIVE MATCHES STYLES
*********************/
/* line 155, ../scss/_700up.scss */
#widgetOutput {
  font-size: 16px;
}
/* line 157, ../scss/_700up.scss */
#widgetOutput h3 {
  padding: 12px 0;
  font-size: 16px;
}
/* line 160, ../scss/_700up.scss */
#widgetOutput h3 span {
  padding-left: 8px;
}
/* line 164, ../scss/_700up.scss */
#widgetOutput .opta-widget-container {
  width: 620px;
}
/* line 167, ../scss/_700up.scss */
#widgetOutput .match {
  height: 60px;
}
/* line 169, ../scss/_700up.scss */
#widgetOutput .match span {
  height: 58px;
  padding: 20px 0;
}
/* line 173, ../scss/_700up.scss */
#widgetOutput .match .match-time {
  width: 50px;
}
/* line 175, ../scss/_700up.scss */
#widgetOutput .match .match-time span {
  padding: 5px 0;
}
/* line 179, ../scss/_700up.scss */
#widgetOutput .match .home-side, #widgetOutput .match .away-side {
  width: 155px;
}
/* line 182, ../scss/_700up.scss */
#widgetOutput .match .match-score {
  font-size: 36px;
  width: 75px;
}
/* line 185, ../scss/_700up.scss */
#widgetOutput .match .match-score span {
  padding: 5px 0;
}
/* line 188, ../scss/_700up.scss */
#widgetOutput .match .match-score .match-score-home, #widgetOutput .match .match-score .match-score-away {
  width: 32px;
}

/*********************
MAIN STYLES
*********************/
/* line 199, ../scss/_700up.scss */
h1, .h1 {
  font-size: 48px;
}

/* line 202, ../scss/_700up.scss */
h2, .h2 {
  font-size: 28px;
}

/* line 207, ../scss/_700up.scss */
#content #inner-content {
  width: 700px;
  padding: 0 40px;
}

/* line 213, ../scss/_700up.scss */
#main {
  width: 620px;
  margin-top: 20px;
}

/* Stream articles */
/* line 218, ../scss/_700up.scss */
.hentry {
  margin-bottom: 40px;
}

/* line 222, ../scss/_700up.scss */
.image-article .featured-image, .set-article .featured-image {
  width: 220px;
  height: 144px;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 228, ../scss/_700up.scss */
.image-article .h2, .image-article .article-excerpt, .set-article .h2, .set-article .article-excerpt {
  float: right;
  width: 380px;
}

/* line 233, ../scss/_700up.scss */
.set-article .featured-image .set-count {
  width: 60px;
  height: 60px;
  background: url(../images/mediaSet.png) no-repeat left 50%;
  padding: 20px 18px 18px 20px;
  font-size: 16px;
}

/* line 241, ../scss/_700up.scss */
.video-article .featured-image {
  float: left;
  width: 420px;
  height: 235px;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 248, ../scss/_700up.scss */
.video-article .h2, .video-article .article-excerpt {
  float: right;
  width: 180px;
}

/* line 254, ../scss/_700up.scss */
.article-footer .tags {
  float: left;
  display: block;
  width: 450px;
  padding-left: 19px;
  text-transform: uppercase;
}
/* line 260, ../scss/_700up.scss */
.article-footer .tags a {
  float: left;
  display: block;
  margin-right: 1rem;
  text-decoration: none;
}

/* line 270, ../scss/_700up.scss */
.page-navigation .article-word,
.wp-prev-next .article-word {
  display: inline;
}

/* Single articles */
/* line 276, ../scss/_700up.scss */
.single #main {
  margin-top: 20px;
}

/* line 280, ../scss/_700up.scss */
.single-post .hentry h1 {
  margin: 20px 0;
}
/* line 283, ../scss/_700up.scss */
.single-post .hentry .byline {
  margin-bottom: 20px;
}
/* line 286, ../scss/_700up.scss */
.single-post .hentry .entry-content {
  padding-left: 80px;
}
/* line 289, ../scss/_700up.scss */
.single-post .hentry .quote {
  background: url(../images/quote.png) no-repeat 25px top;
  padding-left: 70px;
  font-size: 28px;
}
/* line 294, ../scss/_700up.scss */
.single-post .hentry .article-footer p.tags {
  width: 520px;
}

/* line 298, ../scss/_700up.scss */
.single-image-article .single-featured-image {
  width: 620px;
  height: 413px;
}

/* line 302, ../scss/_700up.scss */
.single-video-article .single-featured-image {
  width: 620px;
  height: 349px;
}

/* line 307, ../scss/_700up.scss */
.single-post_set .hentry .article-header {
  margin-bottom: 20px;
  background-position: right top;
}
/* line 310, ../scss/_700up.scss */
.single-post_set .hentry .article-header h1 {
  font-size: 28px;
}
/* line 313, ../scss/_700up.scss */
.single-post_set .hentry .article-header .byline {
  margin-top: 5px;
}
/* line 317, ../scss/_700up.scss */
.single-post_set .hentry .two {
  margin-right: 20px;
}
/* line 320, ../scss/_700up.scss */
.single-post_set .hentry .four {
  margin-right: 0;
}

/*********************
SIDEBARS & ASIDES
*********************/
/* line 330, ../scss/_700up.scss */
.sidebar {
  margin-top: 2.2em;
}

/* line 334, ../scss/_700up.scss */
.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em;
}

/* line 339, ../scss/_700up.scss */
.widget {
  padding: 0 10px;
  margin: 2.2em 0;
}
/* line 344, ../scss/_700up.scss */
.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */
}
/* line 352, ../scss/_700up.scss */
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}

/*********************
FOOTER STYLES
*********************/
/* line 364, ../scss/_700up.scss */
.footer #inner-footer {
  width: 700px;
  padding: 0 40px;
}

/* line 371, ../scss/_700up.scss */
.footer-links ul li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */
}

/* end .footer-links */
/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet
******************************************************************/
/* line 7, ../scss/_940up.scss */
.header {
  height: 247px;
  padding-top: 127px;
  background: url(../images/pattern_geometric-green.png) repeat;
}
/* line 11, ../scss/_940up.scss */
.header #inner-header {
  position: relative;
  left: 50%;
  margin-left: -540px;
  height: 120px;
  width: 1080px;
  padding: 0 70px;
  background: url(../images/deskBG.png) repeat-y 50% 0;
}

/* line 21, ../scss/_940up.scss */
#hero {
  background: url(../images/pattern_geometric-dark.png) repeat;
}
/* line 23, ../scss/_940up.scss */
#hero #inner-hero {
  position: relative;
  left: 50%;
  margin-left: -540px;
  width: 1080px;
  padding: 60px 0 10px 0;
}

/* line 31, ../scss/_940up.scss */
#live-league-menu {
  display: block;
  float: left;
  width: 350px;
  margin: 0;
  padding: 0;
}
/* line 37, ../scss/_940up.scss */
#live-league-menu li {
  height: 60px;
  border-left: 5px solid #1c1c1c;
  padding: 18px 30px 18px 60px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #52bf00;
  cursor: pointer;
}
/* line 46, ../scss/_940up.scss */
#live-league-menu li span {
  padding-left: 8px;
  color: #444444;
}
/* line 51, ../scss/_940up.scss */
#live-league-menu .active {
  border-left: 5px solid #52bf00;
  background: #2e2e2e url(../images/liveMenu.png) no-repeat right 50%;
  color: white;
}

/* line 58, ../scss/_940up.scss */
#widgetOutput h3 {
  display: none;
}
/* line 61, ../scss/_940up.scss */
#widgetOutput .opta-widget-container {
  width: 690px;
}
/* line 64, ../scss/_940up.scss */
#widgetOutput .live-league {
  display: none;
  float: right;
  width: 690px;
}
/* line 69, ../scss/_940up.scss */
#widgetOutput div.active {
  display: block;
}

/* line 74, ../scss/_940up.scss */
#content {
  background: url(../images/pattern_geometric-light.png) repeat;
}
/* line 76, ../scss/_940up.scss */
#content #inner-content {
  position: relative;
  left: 50%;
  margin-left: -540px;
  width: 1080px;
  padding: 0 70px;
}

/* line 84, ../scss/_940up.scss */
#main, .sidebar {
  position: relative;
  float: left;
}

/* line 88, ../scss/_940up.scss */
.sidebar {
  width: 300px;
  margin-left: 20px;
}

/* line 93, ../scss/_940up.scss */
.footer #inner-footer {
  position: relative;
  left: 50%;
  margin-left: -540px;
  width: 1080px;
  padding: 0 70px;
}

/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
