/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
/* line 23, ../scss/_mixins.scss */
.clearfix {
  zoom: 1;
}
/* line 25, ../scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 26, ../scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/*********************
TOOLS
*********************/
/* line 34, ../scss/_mixins.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 41, ../scss/_mixins.scss */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*********************
TYPOGRAPHY
*********************/
@font-face {
  font-family: 'Source Sans';
  src: url("../type/sourceSansPro/sourcesanspro-regular-webfont.eot");
  src: url("../type/sourceSansPro/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../type/sourceSansPro/sourcesanspro-regular-webfont.woff") format("woff"), url("../type/sourceSansPro/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../type/sourceSansPro/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans';
  src: url("../type/sourceSansPro/sourcesanspro-semibold-webfont.eot");
  src: url("../type/sourceSansPro/sourcesanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../type/sourceSansPro/sourcesanspro-semibold-webfont.woff") format("woff"), url("../type/sourceSansPro/sourcesanspro-semibold-webfont.ttf") format("truetype"), url("../type/sourceSansPro/sourcesanspro-semibold-webfont.svg#sourcesanspro-semibold-webfont") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans';
  src: url("../type/sourceSansPro/sourcesanspro-semibolditalic-webfont.eot");
  src: url("../type/sourceSansPro/sourcesanspro-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../type/sourceSansPro/sourcesanspro-semibolditalic-webfont.woff") format("woff"), url("../type/sourceSansPro/sourcesanspro-semibolditalic-webfont.ttf") format("truetype"), url("../type/sourceSansPro/sourcesanspro-semibolditalic-webfont.svg#sourcesanspro-semibolditalic-webfont") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans';
  src: url("../type/sourceSansPro/sourcesanspro-italic-webfont.eot");
  src: url("../type/sourceSansPro/sourcesanspro-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../type/sourceSansPro/sourcesanspro-italic-webfont.woff") format("woff"), url("../type/sourceSansPro/sourcesanspro-italic-webfont.ttf") format("truetype"), url("../type/sourceSansPro/sourcesanspro-italic-webfont.svg#source_sans_pro_italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Alternate Gothic';
  src: url("../type/alternateGothicNo3/web-Alternate-Gothic-No3-Regular.eot");
  src: url("../type/alternateGothicNo3/web-Alternate-Gothic-No3-Regular.eot?#iefix") format("embedded-opentype"), url("../type/alternateGothicNo3/web-Alternate-Gothic-No3-Regular.woff") format("woff"), url("../type/alternateGothicNo3/web-Alternate-Gothic-No3-Regular.ttf") format("truetype"), url("../type/alternateGothicNo3/web-Alternate-Gothic-No3-Regular.svg#web-Alternate-Gothic-No3-Regular") format("svg");
  font-weight: bold;
  font-style: normal;
}

/* line 146, ../scss/_mixins.scss */
.text-left {
  text-align: left;
}

/* line 147, ../scss/_mixins.scss */
.text-center {
  text-align: center;
}

/* line 148, ../scss/_mixins.scss */
.text-right {
  text-align: right;
}

/* line 152, ../scss/_mixins.scss */
.alert-help, .alert-info, .alert-error, .alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}

/* line 158, ../scss/_mixins.scss */
.alert-help {
  border-color: #e8dc59;
  background: #ebe16f;
}

/* line 164, ../scss/_mixins.scss */
.alert-info {
  border-color: #bfe4f4;
  background: #d5edf8;
}

/* line 170, ../scss/_mixins.scss */
.alert-error {
  border-color: #f8cdce;
  background: #fbe3e4;
}

/* line 176, ../scss/_mixins.scss */
.alert-success {
  border-color: #deeaae;
  background: #e6efc2;
}

/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
BUTTONS
*********************/
/* line 238, ../scss/_mixins.scss */
.button, .button:visited {
  font-family: "Source Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #367d00;
  border-top-color: #439b00;
  border-left-color: #439b00;
  padding: 4px 12px;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  border-radius: 4px;
  background-color: #47a600;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#52bf00), to(#47a600));
  background-image: -webkit-linear-gradient(top, #52bf00, #47a600);
  background-image: -moz-linear-gradient(top, #52bf00, #47a600);
  background-image: -o-linear-gradient(top, #52bf00, #47a600);
  background-image: linear-gradient(to bottom, #52bf00, #47a600);
}
/* line 257, ../scss/_mixins.scss */
.button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
  color: white;
  border: 1px solid #367d00;
  border-top-color: #265900;
  border-left-color: #265900;
  background-color: #3c8c00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#47a600), to(#3c8c00));
  background-image: -webkit-linear-gradient(top, #47a600, #3c8c00);
  background-image: -moz-linear-gradient(top, #47a600, #3c8c00);
  background-image: -o-linear-gradient(top, #47a600, #3c8c00);
  background-image: linear-gradient(to bottom, #47a600, #3c8c00);
}
/* line 265, ../scss/_mixins.scss */
.button:active, .button:visited:active {
  background-color: #52bf00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#47a600), to(#52bf00));
  background-image: -webkit-linear-gradient(top, #47a600, #52bf00);
  background-image: -moz-linear-gradient(top, #47a600, #52bf00);
  background-image: -o-linear-gradient(top, #47a600, #52bf00);
  background-image: linear-gradient(to bottom, #47a600, #52bf00);
}

/* line 270, ../scss/_mixins.scss */
.blue-button, .blue-button:visited {
  border-color: #1472ad;
  text-shadow: 0 1px 1px #1472ad;
  background-color: #1681c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1990db), to(#1681c4));
  background-image: -webkit-linear-gradient(top, #1990db, #1681c4);
  background-image: -moz-linear-gradient(top, #1990db, #1681c4);
  background-image: -o-linear-gradient(top, #1990db, #1681c4);
  background-image: linear-gradient(to bottom, #1990db, #1681c4);
  box-shadow: inset 0 0 3px #59b3ec;
}
/* line 276, ../scss/_mixins.scss */
.blue-button:hover, .blue-button:focus, .blue-button:visited:hover, .blue-button:visited:focus {
  border-color: #116396;
  background-color: #1472ad;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1784c9), to(#1472ad));
  background-image: -webkit-linear-gradient(top, #1784c9, #1472ad);
  background-image: -moz-linear-gradient(top, #1784c9, #1472ad);
  background-image: -o-linear-gradient(top, #1784c9, #1472ad);
  background-image: linear-gradient(to bottom, #1784c9, #1472ad);
}
/* line 280, ../scss/_mixins.scss */
.blue-button:active, .blue-button:visited:active {
  background-color: #1990db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1681c4), to(#1990db));
  background-image: -webkit-linear-gradient(top, #1681c4, #1990db);
  background-image: -moz-linear-gradient(top, #1681c4, #1990db);
  background-image: -o-linear-gradient(top, #1681c4, #1990db);
  background-image: linear-gradient(to bottom, #1681c4, #1990db);
}

/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
/* line 26, ../scss/_700up.scss */
.wrap {
  max-width: 1140px;
}

/*********************
HEADER STYLES
*********************/
/* line 34, ../scss/_700up.scss */
.header {
  height: 145px;
  overflow: hidden;
}
/* line 37, ../scss/_700up.scss */
.header #inner-header {
  width: 700px;
  padding: 0 40px;
  height: 145px;
}

/* line 44, ../scss/_700up.scss */
.hero .hero {
  background: #bbGrey;
  height: 494px;
  width: 700px;
  padding: 0 40px;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 56, ../scss/_700up.scss */
.nav {
  border: 0;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 59, ../scss/_700up.scss */
.nav li {
  float: left;
  position: relative;
  /*
  plan your menus and drop-downs wisely.
  */
  /* showing sub-menus */
}
/* line 63, ../scss/_700up.scss */
.nav li a {
  border-bottom: 0;
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}
/* line 70, ../scss/_700up.scss */
.nav li a:hover, .nav li a:focus {
  background-color: #dedede;
}
/* line 83, ../scss/_700up.scss */
.nav li ul.sub-menu,
.nav li ul.children {
  margin-top: 0;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  display: none;
  z-index: 8999;
  /* highlight sub-menu current page */
}
/* line 91, ../scss/_700up.scss */
.nav li ul.sub-menu li,
.nav li ul.children li {
  /*
  if you need to go deeper, go nuts
  just remember deeper menus suck
  for usability. k, bai.
  */
}
/* line 93, ../scss/_700up.scss */
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc;
}
/* line 110, ../scss/_700up.scss */
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
  border-bottom: 0;
}
/* line 132, ../scss/_700up.scss */
.nav li:hover ul {
  top: auto;
  display: block;
}

/* end .nav */
/* line 148, ../scss/_700up.scss */
.wp-prev-next {
  margin-bottom: 36px;
}

/*********************
MAIN STYLES
*********************/
/* line 157, ../scss/_700up.scss */
h1, .h1 {
  font-size: 48px;
}

/* line 160, ../scss/_700up.scss */
h2, .h2 {
  font-size: 28px;
}

/* line 165, ../scss/_700up.scss */
#content #inner-content {
  width: 700px;
  padding: 0 40px;
}

/* line 171, ../scss/_700up.scss */
#main {
  width: 620px;
}

/* line 174, ../scss/_700up.scss */
.hentry {
  margin-bottom: 40px;
}

/* line 178, ../scss/_700up.scss */
.image-article .featured-image, .set-article .featured-image {
  width: 220px;
  height: 144px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* line 186, ../scss/_700up.scss */
.video-article .featured-image {
  float: left;
  width: 420px;
  height: 235px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* line 196, ../scss/_700up.scss */
.single-post .hentry h1 {
  margin: 20px 0;
}
/* line 199, ../scss/_700up.scss */
.single-post .hentry .entry-content {
  padding-left: 80px;
}

/* line 204, ../scss/_700up.scss */
.article-footer .tags {
  float: left;
  display: block;
  width: 430px;
  padding-left: 19px;
  border-left: 2px solid #ededed;
  text-transform: uppercase;
}
/* line 211, ../scss/_700up.scss */
.article-footer .tags a {
  float: left;
  display: block;
  margin-right: 1rem;
  text-decoration: none;
}

/* line 221, ../scss/_700up.scss */
.page-navigation .article-word,
.wp-prev-next .article-word {
  display: inline;
}

/*********************
SIDEBARS & ASIDES
*********************/
/* line 230, ../scss/_700up.scss */
.sidebar {
  margin-top: 2.2em;
}

/* line 234, ../scss/_700up.scss */
.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em;
}

/* line 239, ../scss/_700up.scss */
.widget {
  padding: 0 10px;
  margin: 2.2em 0;
}
/* line 244, ../scss/_700up.scss */
.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */
}
/* line 252, ../scss/_700up.scss */
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}

/*********************
FOOTER STYLES
*********************/
/* line 264, ../scss/_700up.scss */
.footer #inner-footer {
  width: 700px;
  padding: 0 40px;
}

/* line 271, ../scss/_700up.scss */
.footer-links ul li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */
}

/* end .footer-links */
/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
/* line 11, ../scss/_940up.scss */
.header {
  height: 247px;
  padding-top: 127px;
  background: url(../images/pattern_geometric-green.png) repeat;
}
/* line 15, ../scss/_940up.scss */
.header #inner-header {
  position: relative;
  left: 50%;
  margin-left: -540px;
  height: 120px;
  width: 1080px;
  padding: 0 70px;
  background: url(../images/deskBG.png) repeat-y 50% 0;
}

/* line 25, ../scss/_940up.scss */
.hero {
  background: url(../images/pattern_geometric-dark.png) repeat;
}
/* line 27, ../scss/_940up.scss */
.hero .hero {
  position: relative;
  left: 50%;
  margin-left: -540px;
  width: 1080px;
  padding: 0 70px;
}

/* line 35, ../scss/_940up.scss */
#content {
  background: url(../images/pattern_geometric-light.png) repeat;
}
/* line 37, ../scss/_940up.scss */
#content #inner-content {
  position: relative;
  left: 50%;
  margin-left: -540px;
  width: 1080px;
  padding: 0 70px;
}

/* line 45, ../scss/_940up.scss */
#main, .sidebar {
  position: relative;
  float: left;
}

/* line 49, ../scss/_940up.scss */
.sidebar {
  width: 300px;
  margin-left: 20px;
}

/* line 54, ../scss/_940up.scss */
.footer #inner-footer {
  position: relative;
  left: 50%;
  margin-left: -540px;
  width: 1080px;
  padding: 0 70px;
}

/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
