/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet
******************************************************************/
.header {
	background: url(../images/pattern_geometric-green.png) repeat;

	#inner-header {
		position: relative;
		left: 50%;
		margin-left: -($deskWidth/2);
		width: $deskWidth;
		padding: 0 $deskPadding;
		height:150px;
		background: url(../images/bgDesktop.png) left top no-repeat;
		-webkit-background-size:1080px 150px;

		#logo {
			img {
				width: 205px;
				height: 51px;
			}
		}

		/*********************
		NAVIGATION STYLES
		*********************/

		nav {
			#header-nav {
				top:86px;
			}
		}
	}
}


#hero {
	background: url(../images/pattern_geometric-dark.png) repeat;
	
	#inner-hero {
		left: 50%;
		margin-left: -($deskWidth/2);
		width: $deskWidth;
		padding: 0;
	}
}
#live-league-menu {
	display: block;
	float: left;
	width: 350px;
	margin: 0;
	padding: 0;
	li {
		height: 60px;
		border-left: 5px solid $bbBlack;
		padding: 18px 30px 18px 60px;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		color: $bbGreen;
		cursor: pointer;
		span {
			padding-left: 8px;
			color: $bodyText;
		}
	}
	.active {
		border-left: 5px solid $bbGreen;
		background: $bbGrey url(../images/liveMenu.png) no-repeat right 50%;
		color: $white;
	}
}
h2.total-match-count {
	margin: 0 65px;
	padding: 20px 0;
	span {
		top: 25px;
		right: 70px;
	}
}
#widgetOutput {
	h3 {
		display: none;
	}
	.live-league {
		display: none;
		float: right;
		width: 690px;
	}
	div.active {
		display: block;
	}
}
.opta-widget-container {
	width: 690px;
	.match, .linked-match, .unlinked-match {
		.home-side,	.away-side {
			width: 170px;
		}
		.matchDetails {
			width: 225px;
			padding-right: 70px;
			padding-left: 55px;
		}
	}
}
#tab-viewports {
	.opta-widget-container {
		width: 620px;
		.match, .linked-match, .unlinked-match {
			.home-side, .away-side {
				width: 175px;
			}
			.matchDetails {
				width: 150px;
				padding-left: 20px;
				padding-right: 20px;
			}			
		}
	}
}

#content {
	background: url(../images/pattern_geometric-light.png) repeat;
	#inner-content {
		position: relative;
		left: 50%;
		margin-left: -($deskWidth/2);
		width: $deskWidth;
		padding: 0 $deskPadding;
	}
}
#main, #sidebar {
	position: relative;
	float: left;
}
#content #sidebar {
	width: 300px;
	margin-left: 20px;
	.twitter-follow-button, .fb_iframe_widget, #___plusone_0 {
		float: none;
		margin-left: 0!important;
	}
	#minitwitter-widget-2 {
		clear: both;
		display: block;
		.minitweets-end {
			display: none;
		}
	}
	#ffg_widget-2 {
		clear: both;
		display: block;
		border: 1px solid #E8E8E8;
		border-top-color: #345c99;
		a {
			color: #3b5998;
		}
		.fb-feed {
			margin: 0;
			padding: 0;
		}
		.fb-page-name {
			margin: 0;
			border-bottom: 1px solid #E8E8E8;
			background-color: #edeff5;
			background-position: 10px 55%;
			padding: 10px 0 5px 45px;
		}
		.fb-feed-item {
			margin: 0;
			padding: 10px 15px;
			border-top: 1px solid #E8E8E8;
			p {
				margin: 0 0 10px 0; 
				font-size: 14px;
			}
			p.story {
				font-size: 16px;
			}
			blockquote {
				border: 0;
				margin: 0;
				padding: 0;
			}
			img.thumbnail {
				float: left;
				margin-top: 5px;
			}
			a.the_link {
				font-weight: bold;
			}
			p.caption {
				background: none;
				font-style: normal;
			}
		}
	}
	
}	
.widget_sp_image {
	padding: 0;
}

.footer {
	.footer-top .inner, #inner-footer {
		position: relative;
		left: 50%;
		margin-left: -($deskWidth/2);
		width: $deskWidth;
		padding: 0 $deskPadding;
	}

	.footer-top {
		@include clearfix;
		background:$footerBG;
		width:100%;
		height:100px;
		margin:0 auto;

		.inner {
			padding-top:22px;
		}

		.logo-copyright {
			width:190px;
			margin-right:0;

			.logo {
				padding-bottom:8px;

				img {
					width:156px;
					height:38px;
				}
			}

			.copyright {
				line-height:14px;
			}
		}

		.ad-container {
			display:inline-block;
			width:750px;

			.ad {
				display:block;
				float:none;
				margin:0 auto;
			}
		}
	}

	nav {
		.menu-footer-links-container {
			#menu-footer-links {
				margin:1em auto 16px;
			}
		}

		.footer-nav {
			&#footer-nav-desktop {
				width:580px;

				li ul li {
					margin-right:60px;
				}
			}
		}
	}
}


